<ion-header>
  <ion-toolbar color="homeheader">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Orçamentos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button (ionSelect)="getOrcRes()" value="kittens">
        Respondidos
      </ion-segment-button>
      <ion-segment-button (ionSelect)="getOrcAber()" value="puppies">
        Pendentes
      </ion-segment-button>
      <ion-segment-button (ionSelect)="getpedidos()" value="fim">
        Aceitos
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <div class="titgetorc">
        Pedidos pendentes
      </div>
      <ion-list>
        <ion-item (click)="viewSolic(item)" *ngFor="let item of pedidosa let i = index">
          <ion-thumbnail  item-end>
            <img src="assets/pendente.png">
          </ion-thumbnail >

          <h3 class="titulolist">{{i+1}}. {{item.nome_servico}} </h3>

          <ion-row class="detalhescols">
            <ion-col >
              Status: <span class="statusaccept">Aceito</span>
            </ion-col>
            <ion-col >
              Data: <span class="statusaccept">{{item.data | date: 'dd/MM/yyyy'}}</span>
            </ion-col>

            <ion-col>

            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <div class="titgetorc">
        Pedidos respondidos

      </div>
      <ion-list>
        <ion-item (click)="viewSolic(item)"  *ngFor="let item of pedidosr let i = index">
          <ion-thumbnail  item-end>
            <img src="assets/recebido.png">
          </ion-thumbnail >

          <h3 class="titulolist">{{i+1}}. {{item.nome_servico}} </h3>

          <ion-row class="detalhescols">
            <ion-col >
              Status: <span class="statusaccept">Aceito</span>
            </ion-col>
            <ion-col >
              Data: <span class="statusaccept">{{item.data | date: 'dd/MM/yyyy'}}</span>
            </ion-col>

            <ion-col>

            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>


    </ion-list>



    <ion-list *ngSwitchCase="'fim'">
      <div class="titgetorc">
      Aceitos

      </div>
      <ion-list>
        <ion-item (click)="openPedido(item)"  *ngFor="let item of pedidos let i = index">
          <ion-thumbnail  item-end>
            <img src="assets/recebido.png">
          </ion-thumbnail >

          <h3 class="titulolist">{{i+1}}. {{item.nome}} </h3>

          <ion-row class="detalhescols">
            <ion-col >
              Status: <span class="statusaccept">Aceito</span>
            </ion-col>
            <ion-col >
              Data: <span class="statusaccept">{{item.data | date: 'dd/MM/yyyy'}}</span>
            </ion-col>

            <ion-col>

            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>




    </ion-list>



  </div>

</ion-content>
