page-notificacao {
  .titulolist{
    font-size: 15px;
    font-weight: bold;
  }
  .detalhescols{
    font-size: 12px;
    color: gray;
  }
  .datahora{
    font-size: 10px;
    text-align: right;
    color: gray;
  }
  .titulolist{
    color: #9441af;
    font-size: 20px;
  }
}
